<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ammara.FindJobs">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ForgetPassword"></activity>
        <activity android:name=".AdminCycle" />
        <activity android:name=".UpdateAdvertiser" />
        <activity android:name=".UpdateApplicant" />
        <activity android:name=".ProfileView" />
        <activity android:name=".Messages" />
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ApplicantCycle"
            android:label="@string/title_activity_applicant_cycle"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ApplicantRegistration"
            android:label="ApplicantRegistration"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AdvertiserRegistration"
            android:label="AdvertiserRegistration"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AdvertiserCycle"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>